<div class="container">
    <div class="row mt-5">
      <div class="col">
        <h2 class="display-4">Edit Recipe</h2>
          <%= form_for(@recipe) do |f| %>
          <div class="form-group row">
            <div class="col-12 mt-3">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>

            </div>

            <div class="col-12 mt-3">
                <%= f.label :ingredients %>
                <%= f.text_area :ingredients, class: 'form-control' %>

            </div>

            <div class="col-12 mt-3">
              <%= f.label :elaboration %>
              <%= f.text_area :elaboration, class: 'form-control' %>

            <div class="col-12 mt-3">
              <%= f.label :user_id %>
              <%= f.text_field :user_id, class: 'form-control' %><br>
            </div>

            <div class="field">
              <%= f.file_field :image %>
            </div>


            <%= f.submit "#{@boton} Crear", class: 'btn btn-primary' %>
          <% end %>
          </div>
      </div>
</div>
