<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <%= link_to 'Home', root_path, class: 'homeButton' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav fm-nav navbar-right">
      <% if !user_signed_in? %>
        <%= link_to 'Iniciar Sesión', new_user_session_path %>
      <% else %>
        <%= link_to 'Nueva Receta', new_recipe_path %>
        <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
        <%= link_to 'Editar Perfil', edit_user_registration_path %>
        <%= link_to "Profile", users_path %>
        <% end %>
    </ul>
  </div>
</nav>
